# Nearest Neighbour Imputation
#### Uses of the NNI technique in order to fill out the NaNs in the dataset

In [95]:
import pandas as pd
import numpy as np
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import KNNImputer
from sklearn.impute import IterativeImputer
from numpy import isnan

### 1. Import the Dataset

In [97]:
# read csv datafile into pandas table
data = pd.read_csv("maps-synthetic-data-v1.1.csv")
pd.options.display.max_columns = None
data.head()
#display(data)

,Unnamed: 0,X,flag,comp_bed_9,mat_dep,mat_age,weight_16,height_16,iq,comp_noint_bed_16,comp_int_bed_16,talk_phon_wend,text_wend,talk_mob_wend,comp_wend,musi_wend,read_wend,work_wend,alon_wend,draw_wend,play_wend,tv_wend,out_win_wend,out_sum_wend,tran_wend,talk_phon_week,text_week,talk_mob_week,comp_week,musi_week,read_week,work_week,alon_week,draw_week,play_week,tv_week,out_win_week,out_sum_week,tran_week,pat_pres_10,pat_pres_8,pat_pres,num_home,mat_anx_1,mat_anx_18m,mat_anx_8m,agg_score,emot_cruel,phys_cruel,mat_anx_0m,pat_ses,mat_ses,pat_edu,mat_edu,parity,dep_band_15,dep_band_13,dep_band_10,dep_band_07,anx_band_15,anx_band_13,anx_band_10,anx_band_07,exercise,child_bull,phone_14_wend,phone_14_week,musi_13,tv_bed_9,own_mob,has_dep_diag,secd_diag,prim_diag,panic_score,dep_thoughts,dep_score,comp_house,tv_bed_16,creat_14,comp_games,fam_tv_eve,fam_tv_aft,fam_tv_mor,sex,birth_order
0,1,1,synthetic,NaN,3.0,30,59.294132,181.602831,107.0,NaN,NaN,Any at all,Less than 1 hour,Less than 1 hour,1-2 hours,Not at all,Less than 1 hour,3 or more hours,1-2 hours,Not at all,3 or more hours,1-2 hours,3 or more hours,3 or more hours,Less than 1 hour,Not at all,Less than 1 hour,Less than 1 hour,1-2 hours,Not at all,Less than 1 hour,3 or more hours,1-2 hours,Not at all,3 or more hours,1-2 hours,3 or more hours,3 or more hours,Less than 1 hour,Yes,Yes,Yes,4,No,No,No,11.0,No,No,No,III (manual),ii,A level,A level,0.0,~0.5%,~0.5%,~0.5%,~0.5%,~0.5%,~0.5%,~3%,~3%,5 or more times a week,No,NaN,NaN,NaN,NaN,NaN,No ICD-10 diagnosis of depression,0.0,0.0,0.0,NaN,0.0,Yes,Yes,often,No,"Yes, Some Days",Other,"Yes, Every Day",Female,A
1,2,2,synthetic,NaN,9.0,26,NaN,NaN,85.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,No,No,No,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Female,B
2,3,3,synthetic,NaN,3.0,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,No,No,No,III (manual),iv,O level,O level,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Yes, Some Days","Yes, Every Day",Other,Male,A
3,4,4,synthetic,No,NaN,22,49.812426,160.224186,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,III (manual),i,O level,A level,0.0,NaN,NaN,<0.1%,NaN,NaN,NaN,~0.5%,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,Male,A
4,5,5,synthetic,No,8.0,31,62.270030,191.703227,132.0,Yes,NaN,Not at all,Not at all,Not at all,Less than 1 hour,Not at all,1 or more hours,1-2 hours,3 or more hours,Not at all,Less than 3 hours,3 or more hours,Less than 1 hour,Less than 3 hours,Less than 1 hour,Not at all,Not at all,Not at all,1-2 hours,Not at all,1 or more hours,1-2 hours,1-2 hours,Not at all,3 or more hours,1-2 hours,Less than 1 hour,Less than 3 hours,Less than 1 hour,NaN,NaN,No,4,No,No,No,9.0,Yes,No,No,III (manual),iv,A level,A level,1.0,<0.1%,<0.1%,<0.1%,NaN,~3%,~0.5%,~0.5%,NaN,1-4 times a week,No,Not at all,Not at all,No,Yes,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,often,No,"Yes, Some Days","Yes, Every Day","Yes, Every Day",Female,A

### 2. Exploring the Dataset

#### 2.1 Looking at the type of each column

In [102]:
data.info()
#data.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13734 entries, 0 to 13733
Data columns (total 85 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         13734 non-null  int64
 1   X                  13734 non-null  int64
 2   flag               13734 non-null  object
 3   comp_bed_9         8174 non-null   object
 4   mat_dep            11145 non-null  float64
 5   mat_age            13326 non-null  object
 6   weight_16          5351 non-null   float64
 7   height_16          5364 non-null   float64
 8   iq                 7288 non-null   float64
 9   comp_noint_bed_16  471 non-null    object
 10  comp_int_bed_16    2570 non-null   object
 11  talk_phon_wend     4850 non-null   object
 12  text_wend          4841 non-null   object
 13  talk_mob_wend      4834 non-null   object
 14  comp_wend          4839 non-null   object
 15  musi_wend          4831 non-null   object
 16  read_wend          4834 non-null   object
 17  work_wend          4833 non-null   object
 18  alon_wend          4850 non-null   object
 19  draw_wend          4842 non-null   object
 20  play_wend          4850 non-null   object
 21  tv_wend            4853 non-null   object
 22  out_win_wend       4849 non-null   object
 23  out_sum_wend       4822 non-null   object
 24  tran_wend          4861 non-null   object
 25  talk_phon_week     4999 non-null   object
 26  text_week          5004 non-null   object
 27  talk_mob_week      5016 non-null   object
 28  comp_week          5011 non-null   object
 29  musi_week          5003 non-null   object
 30  read_week          4993 non-null   object
 31  work_week          5012 non-null   object
 32  alon_week          5008 non-null   object
 33  draw_week          5012 non-null   object
 34  play_week          5015 non-null   object
 35  tv_week            5020 non-null   object
 36  out_win_week       5007 non-null   object
 37  out_sum_week       5014 non-null   object
 38  tran_week          5024 non-null   object
 39  pat_pres_10        8057 non-null   object
 40  pat_pres_8         7729 non-null   object
 41  pat_pres           9579 non-null   object
 42  num_home           9583 non-null   object
 43  mat_anx_1          9700 non-null   object
 44  mat_anx_18m        9884 non-null   object
 45  mat_anx_8m         10488 non-null  object
 46  agg_score          10714 non-null  float64
 47  emot_cruel         11301 non-null  object
 48  phys_cruel         11301 non-null  object
 49  mat_anx_0m         11265 non-null  object
 50  pat_ses            11021 non-null  object
 51  mat_ses            10110 non-null  object
 52  pat_edu            10750 non-null  object
 53  mat_edu            12375 non-null  object
 54  parity             12544 non-null  float64
 55  dep_band_15        5299 non-null   object
 56  dep_band_13        7003 non-null   object
 57  dep_band_10        7679 non-null   object
 58  dep_band_07        8089 non-null   object
 59  anx_band_15        5303 non-null   object
 60  anx_band_13        7158 non-null   object
 61  anx_band_10        7852 non-null   object
 62  anx_band_07        8280 non-null   object
 63  exercise           4971 non-null   object
 64  child_bull         4989 non-null   object
 65  phone_14_wend      5962 non-null   object
 66  phone_14_week      6131 non-null   object
 67  musi_13            6880 non-null   object
 68  tv_bed_9           8348 non-null   object
 69  own_mob            4386 non-null   object
 70  has_dep_diag       4513 non-null   object
 71  secd_diag          4513 non-null   float64
 72  prim_diag          4513 non-null   float64
 73  panic_score        4513 non-null   float64
 74  dep_thoughts       1805 non-null   float64
 75  dep_score          4513 non-null   float64
 76  comp_house         713 non-null    object
 77  tv_bed_16          3877 non-null   object
 78  creat_14           7093 non-null   object
 79  comp_games         9660 non-null   object
 80  fam_tv_eve         11174 non-null  object
 81  fam_tv_aft         11038 non-null  object
 82  fam_tv_mor         11096 non-null  object
 83  sex                13734 non-null  object
 84  birth_order        13734 non-null  object
dtypes: float64(11), int64(2), object(72)
memory usage: 8.9+ MB

#### 2.2 Exploring the Missing value of the dataset

In [ ]:
data.isnull().sum()

In [ ]:
na_percentage = round(data.isnull().sum()/len(data) * 100, 2)
print(na_percentage)

na_pctlist = list(na_percentage)
na_col = list(data.columns)

# printing the whole column
for i in range(len(na_pctlist)):
    print(na_col[i] + ": " + str(na_pctlist[i]) + " %")

### 3. K-Nearest Neighbour Imputation

#### 3.1 Without the categorical data

In [ ]:
# Choosing only the column which are numerical for testing purposes.
numr_data = [col for col in data.columns if data[col].dtypes != 'O']
data[numr_data].head()
data[numr_data].columns

In [ ]:
knn = KNNImputer(n_neighbors = 5, add_indicator = False)
knn.fit(data[numr_data])
knn.transform(data[numr_data])

knnpd1 = pd.DataFrame(knn.transform(data[numr_data]), columns=data[numr_data].columns)
knnpd1.head(20)

In [ ]:
knn2 = KNNImputer(n_neighbors=3, add_indicator = False)
knn2.fit(data[numr_data])
knn2.transform(data[numr_data])

knnpd2 = pd.DataFrame(knn2.transform(data[numr_data]), columns=data[numr_data].columns)
knnpd2.head(20)

#### 3.2 Converting Categorical Data into Numberical Data

##### There are 2 types of categorical data:
1. Ordinal Relation
    - Each variable has a certain relationship, where if the order changes the meaning of the value will change.
    - For instance:
        - Shirt size ( S , M , L )
    * Approach is by using **Integer Encoding**
2. Non-Ordinal Relation
    - Each variable doesn't have any relationship, hence changing the order of the variable orientation wouldn't affect the meaning of the variable
    - For instance: 
        - Color ( R , G , B )
    * Approach is by using **One-Hot-Encoding**

In [ ]:
# read csv datafile into pandas table
cat2num = pd.read_csv("KNNI_cat2num.csv")
pd.options.display.max_columns = None
cat2num.head()

In [ ]:
tonum = [col for col in cat2num.columns if cat2num[col].dtypes != 'O']
#df[tonum].head()
cat2num[tonum].columns
#cat2num[tonum].shape[1]

In [ ]:
#knn = KNNImputer(n_neighbors = 5, add_indicator = False)
#knn.fit(data[numr_data])
#knn.transform(data[numr_data])

#knnpd1 = pd.DataFrame(knn.transform(data[numr_data]), columns=data[numr_data].columns)
#knnpd1.head(20)

knn_allnum = KNNImputer(n_neighbors = 5, add_indicator = False)
knn_allnum.fit(cat2num[tonum])
xxxx = knn_allnum.transform(cat2num[tonum])

print(sum(isnan(xxxx).flatten()))

#knn_cat2num = pd.DataFrame(knn.transform(cat2num[tonum]), columns=cat2num[tonum].columns)
#knn_cat2num.head(20)